<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Reset Password</title>
  </head>
  <body class="bg-info my-5 d-flex justify-content-center">
    <div class="w-50 bg-white rounded p-3">
      <h3 class="mb-3">Reset Password - <%= email %> </h3>
      <form method="post">
        <label class="form-label" for="password">New Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <button class="btn btn-primary w-100 mt-3" type="submit">Reset Password</button>
      </form>
    </div>
  </body>
</html>